# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Environment
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# AI Model
# ==========================
models/*.pt

# ==========================
# Dataset
# ==========================
data/*.mp4
data/*.avi
data/*.dav

# ==========================
# Output
# ==========================
output/
benchmark/raw/

# ==========================
# Log
# ==========================
*.log

# ==========================
# Operating System
# ==========================
Thumbs.db
.DS_Store

# Runtime output
output/*.csv
output/*.db

# Benchmark Output
benchmark/raw/*.json
benchmark/raw/*.csv

